
<h2>登録済みの飲食店</h2>

<div class="map">
  <div id="map">
  </div>
</div>

<style>
#map {
        height: 400px;
        width: 400px;
    }
</style>

<%= javascript_pack_tag 'spot.js' %>
<script src="https://maps.googleapis.com/maps/api/js?key=api&callback=initMap" async defer></script>
