
<h2>探す</h2>

<input id="keyword" type="url">
<button  id="search", class="btn" >検索ボタン</button>
<div id="display">緯度経度が表示されるよ！</div>
<div id='map'></div>

<style>
    #map {
        height: 400px;
        width: 400px;
    }
</style>

<%= javascript_pack_tag 'show.js' %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
