<div class="navbar bg-base-100">
  <div class="flex-1">
    <%= link_to 'がらぽんごはん', '#',  class: "btn btn-ghost normal-case text-xl" %>
  </div>
    <div class="navbar-end">
      <%= link_to 'みんなのリスト', '#', class: "btn" %>
    </div>
    <button class="btn btn-ghost btn-circle">
      <%= link_to login_path do %>
        <i class="fa-solid fa-right-to-bracket"></i>
      <% end %>
    </button>
  </div>
</div>
