<div class="media">
<% content_for(:title,(t '.title')) %>
<%= form_with url: password_resets_path, local: true, method: :post do |form| %>
  <div class="field ml-3">
    <label><%= t(User.human_attribute_name(:email)) %></label><br>
    <%= form.text_field :email, class: "input input-bordered w-full max-w-xs" %><br>
    <%= form.submit (t '.reset_my_password'), class: "btn btn-primary mt-3" %>
  </div>
<% end %>
</div>
