    <% if @users.any? %>
      <% @users.each do |user| %>
      <div class="overflow-x-auto w-full">
        <table class="table w-full sample">
          <tr>
            <td><div class="font-bold"><%= user.name %></div></td>
            <td><div class="font-bold"><%= user.generation_i18n %></div></td>
            <td><span class="font-bold"><%= user.introduction %></span></td>
            <td><%= link_to '詳細', user_path(user.id) %></td>
          </tr>
        </table>
      </div>
    <% end %>
  <% else %>
    <p>まだ登録されていません</p>
  <% end %>


<button class="btn btn-primary">PRIMARY</button>
<button class="btn btn-secondary">SECONDARY</button>
<button class="btn btn-accent">ACCENT</button>
<button class="btn btn-ghost">GHOST</button>
<button class="btn btn-link">LINK</button>
  <!--
    # <tr data-href="<#%= @users_path(user.id) %>">
        <td>

          <div class="flex items-center space-x-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
              #   <#% if restaurant.rst_type %>
              #    <#%= image_tag "#{restaurant.rst_type}.png", alt: t('default.picture') %>
              #  <#% else %>
              #    <#%= image_tag "default.png", alt: t('default.picture') %>
              #  <#% end %>
              </div>
            </div>
          <div>
        </td>
                  -->
