<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
<button class="bg-gray-200 hover:bg-gray-100 text-white rounded px-4 py-2">Gray 200</button>
<button class="btn btn-primary">daisyUi button</button>
<button class="bg-gray-200 hover:bg-gray-100 text-white rounded px-4 py-2">Gray 200</button>
<button class="btn">Hello daisyUI</button>
<button class="btn btn-active btn-secondary">Button</button>

<button class="btn">neutral</button>
<button class="btn btn-bg-secondary">secondary</button>
<button class="btn btn-accent">accent</button>
<button class="btn btn-ghost">ghost</button>
<button class="btn btn-link">link</button>
<p class="text-blue-500 text-3xl font-bold underline">Hello world!</p>
<div className='font-kosugimaru card md:w-96 w-60 bg-base-100 text-gray-900 shadow-xl'>
<button class="btn">BUTTON</button>
<button class="btn btn-primary">PRIMARY</button>
<button class="btn btn-secondary">SECONDARY</button>
<button class="btn btn-accent">ACCENT</button>
<button class="btn btn-ghost">GHOST</button>
<button class="btn btn-link">LINK</button>
