<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %> shadow-lg">
    <span><%= message %></span>
  </div>
<% end %>

<!-- Theses below are supporting dynamic construction for daisyUI-->
<!-- alert-warning alert-success alert-info -->
