<footer>
  <% unless logged_in? %>
    <div class="btn-disabled">
  <% end %>
      <div class="btm-nav btm-nav-lg">
        <%= link_to new_restaurant_path do %>
          <i class="fa-solid fa-pencil"></i>
        <% end %>
        <%= link_to users_path do %>
          <i class="fa-solid fa-children"></i>
        <% end %>
        <%= link_to users_path(follow: "marked") do %>
          <i class="fa-solid fa-face-smile"></i>
        <% end %>
        <%= link_to profile_path do %>
          <i class="fa-solid fa-gear"></i>
        <% end %>
      </div>
    </div>
</footer>
