<div class="navbar bg-base-100 media">
  <div class="flex-1">
    <%= link_to 'がらぽんごはん', '#',  class: "btn btn-ghost normal-case text-xl" %>
  </div>
    <div class="navbar-end">
      <%= link_to (t 'defaults.restaurants_list'), others_restaurants_path, class: "btn" %>
      <%= link_to 'マイリスト', '#', class: "btn btn-disabled" %>
    <button class="btn btn-ghost btn-circle">
      <%= link_to login_path do %>
        <i class="fa-solid fa-right-to-bracket"></i>
      <% end %>
    </button>
  </div>
</div>
