<div class="media foot">
  <div class="grid grid-flow-col">
    <%= link_to '利用規約', terms_of_service_path, class: "link link-hover" %>
    <a class="link link-hover">プライバシーポリシー</a>
    <a class="link link-hover">お問合せ</a>
  </div>
  <div>
    <p>Copyright © 2023 がらぽんごはん</p>
  </div>
</div>
