<div class="media regulation text-sm">
  <div class="flex justify-evenly">
    <div><%= link_to (t 'regulation_pages.terms_of_service.title'), terms_of_service_path, class: "link link-hover" %></div>
    <div><%= link_to (t 'regulation_pages.privacy_policy.title'), privacy_policy_path, class: "link link-hover" %></div>
    <div><%= link_to (t 'regulation_pages.inquiry.title'), inquiry_path, class: "link link-hover" %></div>
  </div>
  <p class="flex justify-center mt-1">Copyright © 2023 がらぽんごはん</p>
</div>
