<div id="modal" class="modal">
  <div class="modal-content">
    <div class="modal-body">
      <h1>hello</h1>
      <h1>hello</h1>
      <h1>hello</h1>
      <h1>hello</h1>
      <h1>hello</h1>
      <input type="button" id="closeBtn" value="close">
    </div>
  </div>
</div>
