/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@charset 'UTF-8';
@import "font-awesome";

.btn-mid {
  width: 7rem;
}

p.font {
  font-family: "Noto Sans JP";
}

p.font-sm {
  font-family: "Noto Sans JP";
  font-size: 1rem;
  margin-left: 0.5rem;
  font-weight: bold;
}

.btm-space {
  margin-bottom: 5rem;
}

.head-z {
  z-index: 30;
}

.foot {
  margin-top: 4rem;
  bottom: 6rem;
  background-color: #f6cfb3;
  width: 100%;
  max-width: 420px;
}
