// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table {
  border: solid 1px #EAEAE4;
}

td {
  width: 60px;
  text-align: left;
  border: solid 1px #EAEAE4;
}

.icon_check {
  display: block;
  cursor: pointer;
}

.icon_check input:checked+label {
  background: #1a720d;
  color: #1a720d;
}
