// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.circle-1 {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  background-color: #c6d557;
  margin-left: 4rem;
  box-shadow: -3px -3px 1px 3px #fffacd;
}

.circle-2 {
  position: relative;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  background-color: #d47164;
  margin-left: 15rem;
  box-shadow: -3px 0px 1px 3px #fffacd;
}

.circle-3 {
  position: relative;
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  background-color: #a4632c;
  margin-left: 6rem;
  box-shadow: -2px 3px 1px 3px #fffacd;
}

.circle-1 span {
  position: absolute;
  left: 10%;
  top: 40%;
  text-align: center;
}

.circle-2 span {
  position: absolute;
  left: 10%;
  top: 30%;
  text-align: center;
}

.circle-3 span {
  position: absolute;
  left: 10%;
  top: 30%;
  text-align: center;
}

.text-box {
  width: 500px;
  text-align: center;
}
