// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.coment {
  width: 14rem;
  white-space: pre-wrap;
}

.btn-mid {
  width: 7rem;
}
